header{
    border-bottom: 1px solid rgb(193, 189, 189);
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
   }
#logo{
    font-size: 28px;
    color: black;
    text-decoration: none;
}
ul{
    list-style-type:none;
    display : flex;
    flex-direction : row;
    gap: 24px;
}
.navlink{
    color: rgb(68, 66, 66);
    text-decoration: none;
    font-size: 16px;
}
section{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items: center;
}
img{
    width: 50%;
}
.section1{
    text-decoration: none;
    color: black;   
    width: 400px;
    height: 50px;
    border: 1px solid black;
    padding-bottom: 8px;
    padding-top: 8px;
    
}